.gridjs-head button,
.gridjs-footer button {
	cursor: pointer;
	background-color: transparent;
	background-image: none;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}

.gridjs-temp {
	position: relative;
}

.gridjs-head {
	width: 100%;
	/* margin-bottom: 5px;
	padding: 5px 1px; */
}
.gridjs-head::after {
	content: '';
	display: block;
	clear: both;
}

.gridjs-head:empty {
	padding: 0;
	border: none;
}

.gridjs-container {
	overflow: hidden;
	display: inline-block;
	padding: 2px;
	color: #000;
	position: relative;
	z-index: 0;
}

.gridjs-footer {
	display: block;
	position: relative;
	width: 100%;
	z-index: 5;
	padding: 6px 24px;
	border-top: 1px solid #e5e7eb;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.26);
	border-radius: 0 0 2px 2px;
	border-bottom-width: 1px;
	border-color: #e5e7eb;
}

.gridjs-footer:empty {
	padding: 0;
	border: none;
}

input.gridjs-input {
	outline: none;
	background-color: #fff;
	border: 1px solid #d2d6dc;
	border-radius: 2px;
	padding: 6px 6px;
	font-size: 14px;
	line-height: 1.45;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input.gridjs-input:focus {
	border: 1px solid transparent;
}

.gridjs-pagination {
	color: #3d4044;
}
.gridjs-pagination::after {
	content: '';
	display: block;
	clear: both;
}
.gridjs-pagination .gridjs-summary {
	float: left;
	margin-top: 5px;
}
.gridjs-pagination .gridjs-pages {
	float: right;
}
.gridjs-pagination .gridjs-pages button {
	padding: 5px 14px;
	border: 1px solid transparent;
	background-color: #fff;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.gridjs-pagination .gridjs-pages button:focus {
	box-shadow: none;
}
.gridjs-pagination .gridjs-pages button:hover {
	background-color: #f7f7f7;
	color: #3c4257;
	outline: none;
}
.gridjs-pagination .gridjs-pages button:disabled,
.gridjs-pagination .gridjs-pages button[disabled],
.gridjs-pagination .gridjs-pages button:hover:disabled {
	cursor: default;
	background-color: #fff;
	color: #6b7280;
}
.gridjs-pagination .gridjs-pages button.gridjs-spread {
	cursor: default;
	box-shadow: none;
	background-color: #fff;
}
.gridjs-pagination .gridjs-pages button.gridjs-currentPage {
	background-color: #f7f7f7;
	font-weight: bold;
}
.gridjs-pagination .gridjs-pages button:last-child {
	border: 1px solid transparent;
}
.gridjs-pagination .gridjs-pages button:first-child {
	border: 1px solid transparent;
}

button.gridjs-sort {
	float: right;
	height: 24px;
	width: 13px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position-x: center;
	cursor: pointer;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background-size: contain;
}
button.gridjs-sort-neutral {
	opacity: 0.3;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg width='12.920891mm' height='16.84889mm' viewBox='0 0 12.920891 16.84889' version='1.1' id='svg5' inkscape:version='1.1.1 (3bf5ae0d25, 2021-09-20)' sodipodi:docname='nothing.svg' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Csodipodi:namedview id='namedview7' pagecolor='%23505050' bordercolor='%23eeeeee' borderopacity='1' inkscape:pageshadow='0' inkscape:pageopacity='0' inkscape:pagecheckerboard='0' inkscape:document-units='mm' showgrid='false' fit-margin-top='0' fit-margin-left='0' fit-margin-right='0' fit-margin-bottom='0' inkscape:zoom='4.1620651' inkscape:cx='97.187332' inkscape:cy='75.563451' inkscape:window-width='1720' inkscape:window-height='1367' inkscape:window-x='1720' inkscape:window-y='0' inkscape:window-maximized='0' inkscape:current-layer='layer1' /%3E%3Cdefs id='defs2' /%3E%3Cg inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1' transform='translate(-101.3955,-140.07555)'%3E%3Ca id='a8304' transform='matrix(-0.56552087,-0.56412114,0.56412114,-0.56552087,92.858753,256.87788)' style='fill:%2378a1b8;fill-opacity:1'%3E%3Cpath id='rect8067' style='fill:%2378a1b8;stroke-width:0.278961;stop-color:%23000000;fill-opacity:1' d='m 72.544868,104.38049 h 6.381667 l -6.381667,6.38167 z m 2.062025,4.30896 2.249732,-2.24417 11.713811,11.74288 -2.249732,2.24416 z' /%3E%3C/a%3E%3Ca id='a8304-5' transform='matrix(-0.56552087,0.56412114,0.56412114,0.56552087,87.146863,40.122117)' style='fill:%2378a1b8;fill-opacity:1;image-rendering:auto'%3E%3Cpath id='rect8067-6' style='fill:%2378a1b8;fill-opacity:1;stroke-width:0.278961;stop-color:%23000000' d='m 72.544868,104.38049 h 6.381667 l -6.381667,6.38167 z m 2.062025,4.30896 2.249732,-2.24417 11.713811,11.74288 -2.249732,2.24416 z' /%3E%3C/a%3E%3C/g%3E%3C/svg%3E%0A");
	background-position-y: center;
}
button.gridjs-sort-asc {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg width='12.920891mm' height='16.84889mm' viewBox='0 0 12.920891 16.84889' version='1.1' id='svg5' inkscape:version='1.1.1 (3bf5ae0d25, 2021-09-20)' sodipodi:docname='up.svg' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Csodipodi:namedview id='namedview7' pagecolor='%23505050' bordercolor='%23eeeeee' borderopacity='1' inkscape:pageshadow='0' inkscape:pageopacity='0' inkscape:pagecheckerboard='0' inkscape:document-units='mm' showgrid='false' fit-margin-top='0' fit-margin-left='0' fit-margin-right='0' fit-margin-bottom='0' inkscape:zoom='4.1620651' inkscape:cx='97.187332' inkscape:cy='75.563451' inkscape:window-width='1720' inkscape:window-height='1367' inkscape:window-x='1720' inkscape:window-y='0' inkscape:window-maximized='0' inkscape:current-layer='layer1' /%3E%3Cdefs id='defs2' /%3E%3Cg inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1' transform='translate(-101.3955,-140.07555)'%3E%3Ca id='a8304' transform='matrix(0.56552087,0.56412114,-0.56412114,0.56552087,122.85314,40.122117)' style='fill:%23ffffff'%3E%3Cpath id='rect8067' style='stroke-width:0.278961;stop-color:%23000000;fill:%23ffffff' d='m 72.544868,104.38049 h 6.381667 l -6.381667,6.38167 z m 2.062025,4.30896 2.249732,-2.24417 11.713811,11.74288 -2.249732,2.24416 z' /%3E%3C/a%3E%3Ca id='a8304-5' transform='matrix(0.56552087,-0.56412114,-0.56412114,-0.56552087,128.56503,256.87788)' style='image-rendering:auto;fill:%2378a1b8;fill-opacity:1'%3E%3Cpath id='rect8067-6' style='stroke-width:0.278961;stop-color:%23000000;fill:%2378a1b8;fill-opacity:1' d='m 72.544868,104.38049 h 6.381667 l -6.381667,6.38167 z m 2.062025,4.30896 2.249732,-2.24417 11.713811,11.74288 -2.249732,2.24416 z' /%3E%3C/a%3E%3C/g%3E%3C/svg%3E%0A");
	background-position-y: 35%;
	background-size: 10px;
}
button.gridjs-sort-desc {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg width='12.920891mm' height='16.84889mm' viewBox='0 0 12.920891 16.84889' version='1.1' id='svg5' inkscape:version='1.1.1 (3bf5ae0d25, 2021-09-20)' sodipodi:docname='down.svg' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Csodipodi:namedview id='namedview7' pagecolor='%23505050' bordercolor='%23eeeeee' borderopacity='1' inkscape:pageshadow='0' inkscape:pageopacity='0' inkscape:pagecheckerboard='0' inkscape:document-units='mm' showgrid='false' fit-margin-top='0' fit-margin-left='0' fit-margin-right='0' fit-margin-bottom='0' inkscape:zoom='4.1620651' inkscape:cx='97.187332' inkscape:cy='75.563451' inkscape:window-width='1720' inkscape:window-height='1367' inkscape:window-x='1720' inkscape:window-y='0' inkscape:window-maximized='0' inkscape:current-layer='layer1' /%3E%3Cdefs id='defs2' /%3E%3Cg inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1' transform='translate(-101.3955,-140.07555)'%3E%3Ca id='a8304' transform='matrix(-0.56552087,-0.56412114,0.56412114,-0.56552087,92.858753,256.87788)' style='fill:%23ffffff'%3E%3Cpath id='rect8067' style='fill:%23ffffff;stroke-width:0.278961;stop-color:%23000000' d='m 72.544868,104.38049 h 6.381667 l -6.381667,6.38167 z m 2.062025,4.30896 2.249732,-2.24417 11.713811,11.74288 -2.249732,2.24416 z' /%3E%3C/a%3E%3Ca id='a8304-5' transform='matrix(-0.56552087,0.56412114,0.56412114,0.56552087,87.146863,40.122117)' style='fill:%2378a1b8;fill-opacity:1;image-rendering:auto'%3E%3Cpath id='rect8067-6' style='fill:%2378a1b8;fill-opacity:1;stroke-width:0.278961;stop-color:%23000000' d='m 72.544868,104.38049 h 6.381667 l -6.381667,6.38167 z m 2.062025,4.30896 2.249732,-2.24417 11.713811,11.74288 -2.249732,2.24416 z' /%3E%3C/a%3E%3C/g%3E%3C/svg%3E%0A");
	background-size: 10px;
}

button.gridjs-sort:focus {
	outline: none;
}

table.gridjs-table {
	max-width: 100%;
	border-collapse: collapse;
	text-align: left;
	display: table;
	margin: 0;
	padding: 0;
	overflow: auto;
	table-layout: fixed;
}

.gridjs-tbody {
	background-color: #fff;
}

td.gridjs-td {
	border: 1px solid #e5e7eb;
	padding: 12px 10px;
	background-color: #fff;
	box-sizing: content-box;
}

td.gridjs-td:first-child {
	border-left: none;
}

td.gridjs-td:last-child {
	border-right: none;
}

td.gridjs-message {
	text-align: center;
}

th.gridjs-th {
	position: relative;
	background-color: #5d8ea9;
	color: #f9fafb;
	border: 1px solid #e5e7eb;
	border-top: none;
	padding: 12px 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	white-space: nowrap;
	outline: none;
	vertical-align: middle;
}
th.gridjs-th .gridjs-th-content {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	float: left;
}
th.gridjs-th-sort {
	cursor: pointer;
}
th.gridjs-th-sort .gridjs-th-content {
	width: calc(100% - 15px);
}
/* th.gridjs-th-sort:hover {
	background-color: #e5e7eb;
} */
/* th.gridjs-th-sort:focus {
	background-color: #e5e7eb;
} */
th.gridjs-th-fixed {
	position: sticky;
	box-shadow: 0 1px 0 0 #e5e7eb;
}
@supports (-moz-appearance: none) {
	th.gridjs-th-fixed {
		box-shadow: 0 0 0 1px #e5e7eb;
	}
}

th.gridjs-th:first-child {
	border-left: none;
}

th.gridjs-th:last-child {
	border-right: none;
}

.gridjs-tr {
	border: none;
}
.gridjs-tr-selected td {
	background-color: #ebf5ff;
}

.gridjs-tr:last-child td {
	border-bottom: 0;
}

.gridjs *,
.gridjs :after,
.gridjs :before {
	box-sizing: border-box;
}

.gridjs-wrapper {
	position: relative;
	z-index: 1;
	overflow: auto;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.26);
	border-radius: 2px 2px 0 0;
	display: block;
	border-top-width: 1px;
	border-color: #e5e7eb;
}

.gridjs-wrapper:nth-last-of-type(2) {
	border-radius: 2px;
	border-bottom-width: 1px;
}

.gridjs-search {
	float: left;
}
.gridjs-search-input {
	width: 250px;
}

.gridjs-loading-bar {
	z-index: 10;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #fff;
	opacity: 0.5;
}
.gridjs-loading-bar::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-100%);
	background-image: linear-gradient(
		90deg,
		rgba(204, 204, 204, 0) 0,
		rgba(204, 204, 204, 0.2) 20%,
		rgba(204, 204, 204, 0.5) 60%,
		rgba(204, 204, 204, 0)
	);
	-webkit-animation: shimmer 2s infinite;
	animation: shimmer 2s infinite;
	content: '';
}

@-webkit-keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}

@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}

.gridjs-td .gridjs-checkbox {
	display: block;
	margin: auto;
	cursor: pointer;
}

.gridjs-resizable {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 5px;
}
.gridjs-resizable:hover {
	cursor: ew-resize;
	background-color: #9bc2f7;
}
