/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #ffffff;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #f7941e;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	font-size: 14px;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

div {
	font-family: var(--font-family-sans-serif);
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

@layer utilities {
	div {
		@apply antialiased;
		font-family: var(--font-family-sans-serif);
	}
}

@layer components {
	.sw360-button {
		@apply py-2 px-4 h-10 text-black mt-2 hover:text-white text-base font-bold border bg-sw360-orange rounded;
	}

	.sw360-navy-header {
		@apply text-left px-4 py-3 w-full bg-sw360-navyblue rounded-t text-white text-base font-bold;
	}

	.sw360-navy-text {
		@apply text-sw360-navyblue font-bold text-base uppercase bg-white mb-2 border-b border-sw360-navyblue;
	}

	.sw360-navy-bg-text {
		@apply text-left px-3 py-3 w-full bg-sw360-navyblue text-white font-bold;
	}

	.sw360-advsearch-textedit {
		@apply appearance-none border rounded-b w-full py-1.5 px-3 text-gray-700 leading-tight;
	}

	.sw360-advsearch-listbox {
		@apply border rounded-b w-full py-1.5 px-3 text-gray-700 bg-white leading-tight transition block bg-clip-padding;
	}
}
